@font-face {
  font-family: 'Voltaire';
  font-style: normal;
  font-weight: 400;
  src: local('Voltaire'), url(voltaire.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
  color: #656464;
}

pre {
  line-height: 1 !important;
}

p {
  text-align: justify;
}

h4, h3, h2, h1 {
   font-family: 'Voltaire', sans-serif !important;
   font-weight: 100;
}

h1 {
  color: #6E28C9;
  font-size: 25px;
}

h1::before,
h2::before {
  content: "# ";
}

li {
  list-style-type: circle !important;
}

a {
   color: #6E28C9 !important;
   text-decoration: none;
}

a.reference {
    text-decoration: none;
    border-bottom: none;
}

a.reference:hover {
    border-bottom: 1px dotted #6E28C9;
}

.wy-side-nav-search {
    background-color: #FFFFFF !important;
}

.wy-nav-side {
    background: #FFFFFF !important;
    overflow-y: auto !important;
}

.wy-nav-content-wrap {
    background: #FFFFFF !important;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
    border: none !important;
}

.wy-menu-vertical li.current {
    background: #FFFFFF !important;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: #FFFFFF !important;
}

.wy-menu-vertical a:hover {
    background-color: #E0E0E0 !important;
}

.wy-menu-vertical li.current a {
    border: none !important;
}

.wy-nav-top {
   background: #FFFFFF !important;
   color: #6E28C9 !important;
}

.icon-home:before {
   content: "";
}

.rst-content tt, .rst-content tt, .rst-content code {
    color: #6E28C9 !important;
}

.wy-side-nav-search input[type=text] {
    border-radius: 6px !important;
    border-color: #6E28C9 !important;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0 !important;
}

.wy-side-nav-search>div.version {
    display: none !important;
}